
body {
    overflow: hidden;
}

.contador {
    text-align: center;
    background-color: #0D1117;
    align-items: center;
}

.contador div {
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
    background-color: #0D1117;
    color: white;
    padding: 10px;
    
}

.boton {
    position: absolute;
    top: 300px;
    right: 600px;
}

.move1 {
    color: #fff; 
    background-color: #212529; 
    border-color: #212529; 
    width: 90px;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
    position: absolute;
    top: 150px;
    right: 500px;
    
}


.move2 {
    color: #fff; 
    background-color: #212529; 
    border-color: #212529; 
    width: 90px;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
    position: absolute;
    bottom: 150px;
    left: 400px;
}

.move3 {
    color: #fff; 
    background-color: #212529; 
    border-color: #212529; 
    width: 90px;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
    position: absolute;
    bottom: 150px;
    right: 400px;
}

.move4 {
    color: #fff; 
    background-color: #212529; 
    border-color: #212529; 
    width: 90px;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
    position: absolute;
    top: 150px;
    left: 400px;
}

.imagen {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 100px;
}

/* .video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0px;
    object-fit: cover;
    z-index: -1;
    padding: 0;
    margin: 0;
} */
